In [1]:
import pandas as pd

In [5]:
contaminantes=pd.read_csv("..\data\Contaminantes\calidad_aire_2025.csv")
contaminantes.head()

,Entidad_federativa,Municipio,Tipo_de_Fuente,SO_2,CO,NOx,COV,PM_010,PM_2_5,NH_3,Entidad
0,Aguascalientes,Aguascalientes,Fuentes fijas,546.316,94.308,209.404,2219.396,246.873,182.143,2.929,Aguascalientes
1,Aguascalientes,Aguascalientes,Fuentes de área,15.877,2396.298,333.306,12438.827,1567.037,483.104,13661.221,Aguascalientes
2,Aguascalientes,Aguascalientes,Fuentes móviles carreteros,308.001,48527.124,10486.580,5148.961,721.389,659.929,83.887,Aguascalientes
3,Aguascalientes,Aguascalientes,Fuentes móviles que no circulan por carretera,36.981,548.796,1042.305,96.899,66.318,63.940,0.226,Aguascalientes
4,Aguascalientes,Aguascalientes,Fuentes naturales,NaN,NaN,440.268,1663.833,NaN,NaN,NaN,Aguascalientes

In [7]:
muestraSangre=pd.read_csv("..\data\MuestraSangre\ensanut2022_muestras.csv", sep=";")
muestraSangre.head()

,FOLIO_I,FOLIO_INT,t_hora,t_min,t_sumai,t_sumaf,hora_ini_1,fecha_ini_1,hora_fin_1,fecha_fin_1,...,valor_VIT_D,fecdeterm_VIT_D,ponde_v,cuenta_mic,ponde_m12a49,ponde_m0a11,estrato,region,est_sel,upm
0,2022_01001004,2022_01001004_01,13,35,813,815,13:33:14,10/11/2022,13:35:20,10/11/2022,...,,,,0,,,3,4,13,0100100011320
1,2022_01001008,2022_01001008_01,20,44,1244,1244,20:34:12,20/11/2022,20:34:55,20/11/2022,...,,,,0,,,3,4,13,0100100011320
2,2022_01001008,2022_01001008_03,20,43,1243,1243,20:41:51,20/11/2022,20:42:23,20/11/2022,...,,,,0,,,3,4,13,0100100011320
3,2022_01001009,2022_01001009_02,9,26,561,566,09:21:48,10/11/2022,09:26:03,10/11/2022,...,,,"16452,5523392573",0,,,3,4,13,0100100011320
4,2022_01001011,2022_01001011_01,20,49,1249,1249,20:45:31,20/11/2022,20:46:06,20/11/2022,...,,,,0,,,3,4,13,0100100011320

In [6]:
socioDemo=pd.read_csv("..\data\SocioDemo\ensanut2022_socdem.csv", sep=";")
socioDemo.head()

C:\Users\juanp\AppData\Local\Temp\ipykernel_25504\3625751232.py:1: DtypeWarning: Columns (10,11,12,13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  socioDemo=pd.read_csv("..\data\SocioDemo\ensanut2022_socdem.csv", sep=";")

,FOLIO_I,FOLIO_INT,id_int,maquina1,entidad1,desc_ent1,municipio1,desc_mun1,h0302,h0303,...,h16054e,h1607,h1607e,completa1,region,entidad,ponde_f,estrato,est_sel,upm
0,2022_01001001,2022_01001001_01,1,MQ426,1,01 AGUASCALIENTES,1,001 AGUASCALIENTES,2,51,...,,,,1,4,1,"706,78491885843",3,13,0100100011320
1,2022_01001001,2022_01001001_02,2,MQ426,1,01 AGUASCALIENTES,1,001 AGUASCALIENTES,2,14,...,,,,1,4,1,"937,020931828615",3,13,0100100011320
2,2022_01001002,2022_01001002_01,1,MQ417,1,01 AGUASCALIENTES,1,001 AGUASCALIENTES,1,60,...,,,,1,4,1,"760,861696609056",3,13,0100100011320
3,2022_01001002,2022_01001002_02,2,MQ417,1,01 AGUASCALIENTES,1,001 AGUASCALIENTES,2,60,...,,,,1,4,1,"706,78491885843",3,13,0100100011320
4,2022_01001003,2022_01001003_01,1,MQ425,1,01 AGUASCALIENTES,1,001 AGUASCALIENTES,2,64,...,,15,,1,4,1,"706,78491885843",3,13,0100100011320