# Exploración de los datos

In [325]:
import pandas as pd
import numpy as np

In [326]:
contaminantes=pd.read_csv("..\data\Contaminantes\calidad_aire_2025.csv")
contaminantes.head()

,Entidad_federativa,Municipio,Tipo_de_Fuente,SO_2,CO,NOx,COV,PM_010,PM_2_5,NH_3,Entidad
0,Aguascalientes,Aguascalientes,Fuentes fijas,546.316,94.308,209.404,2219.396,246.873,182.143,2.929,Aguascalientes
1,Aguascalientes,Aguascalientes,Fuentes de área,15.877,2396.298,333.306,12438.827,1567.037,483.104,13661.221,Aguascalientes
2,Aguascalientes,Aguascalientes,Fuentes móviles carreteros,308.001,48527.124,10486.580,5148.961,721.389,659.929,83.887,Aguascalientes
3,Aguascalientes,Aguascalientes,Fuentes móviles que no circulan por carretera,36.981,548.796,1042.305,96.899,66.318,63.940,0.226,Aguascalientes
4,Aguascalientes,Aguascalientes,Fuentes naturales,NaN,NaN,440.268,1663.833,NaN,NaN,NaN,Aguascalientes

In [327]:
muestraSangre=pd.read_csv("..\data\MuestraSangre\ensanut2022_muestras.csv", sep=";")
muestraSangre.head()

,FOLIO_I,FOLIO_INT,t_hora,t_min,t_sumai,t_sumaf,hora_ini_1,fecha_ini_1,hora_fin_1,fecha_fin_1,...,valor_VIT_D,fecdeterm_VIT_D,ponde_v,cuenta_mic,ponde_m12a49,ponde_m0a11,estrato,region,est_sel,upm
0,2022_01001004,2022_01001004_01,13,35,813,815,13:33:14,10/11/2022,13:35:20,10/11/2022,...,,,,0,,,3,4,13,0100100011320
1,2022_01001008,2022_01001008_01,20,44,1244,1244,20:34:12,20/11/2022,20:34:55,20/11/2022,...,,,,0,,,3,4,13,0100100011320
2,2022_01001008,2022_01001008_03,20,43,1243,1243,20:41:51,20/11/2022,20:42:23,20/11/2022,...,,,,0,,,3,4,13,0100100011320
3,2022_01001009,2022_01001009_02,9,26,561,566,09:21:48,10/11/2022,09:26:03,10/11/2022,...,,,"16452,5523392573",0,,,3,4,13,0100100011320
4,2022_01001011,2022_01001011_01,20,49,1249,1249,20:45:31,20/11/2022,20:46:06,20/11/2022,...,,,,0,,,3,4,13,0100100011320

In [328]:
socioDemo=pd.read_csv("..\data\SocioDemo\ensanut2022_socdem.csv", sep=";")
socioDemo.head()

C:\Users\User\AppData\Local\Temp\ipykernel_25704\3625751232.py:1: DtypeWarning: Columns (10,11,12,13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  socioDemo=pd.read_csv("..\data\SocioDemo\ensanut2022_socdem.csv", sep=";")

,FOLIO_I,FOLIO_INT,id_int,maquina1,entidad1,desc_ent1,municipio1,desc_mun1,h0302,h0303,...,h16054e,h1607,h1607e,completa1,region,entidad,ponde_f,estrato,est_sel,upm
0,2022_01001001,2022_01001001_01,1,MQ426,1,01 AGUASCALIENTES,1,001 AGUASCALIENTES,2,51,...,,,,1,4,1,"706,78491885843",3,13,0100100011320
1,2022_01001001,2022_01001001_02,2,MQ426,1,01 AGUASCALIENTES,1,001 AGUASCALIENTES,2,14,...,,,,1,4,1,"937,020931828615",3,13,0100100011320
2,2022_01001002,2022_01001002_01,1,MQ417,1,01 AGUASCALIENTES,1,001 AGUASCALIENTES,1,60,...,,,,1,4,1,"760,861696609056",3,13,0100100011320
3,2022_01001002,2022_01001002_02,2,MQ417,1,01 AGUASCALIENTES,1,001 AGUASCALIENTES,2,60,...,,,,1,4,1,"706,78491885843",3,13,0100100011320
4,2022_01001003,2022_01001003_01,1,MQ425,1,01 AGUASCALIENTES,1,001 AGUASCALIENTES,2,64,...,,15,,1,4,1,"706,78491885843",3,13,0100100011320

## Conservar variables relacionadas a la sangre y numericas del dataframe de muestras de sangre

In [329]:
strVarsSangre="FOLIO_I FOLIO_INT hb02 hb07b valor_AC_URICO valor_ALBU valor_COL_HDL valor_COL_LDL valor_COLEST valor_CREAT valor_GLU_SUERO valor_INSULINA valor_PCR valor_TRIG valor_EAG valor_HB1AC valor_FERRITINA valor_FOL valor_HCST valor_PROTCREAC valor_STFR_FEB23 valor_VIT_B12 valor_VIT_D"
varsSangre=strVarsSangre.split()
muestraSangre=muestraSangre[varsSangre]
muestraSangre

,FOLIO_I,FOLIO_INT,hb02,hb07b,valor_AC_URICO,valor_ALBU,valor_COL_HDL,valor_COL_LDL,valor_COLEST,valor_CREAT,...,valor_TRIG,valor_EAG,valor_HB1AC,valor_FERRITINA,valor_FOL,valor_HCST,valor_PROTCREAC,valor_STFR_FEB23,valor_VIT_B12,valor_VIT_D
0,2022_01001004,2022_01001004_01,,,,,,,,,...,,,,,,,,,,
1,2022_01001008,2022_01001008_01,,,,,,,,,...,,,,,,,,,,
2,2022_01001008,2022_01001008_03,,,,,,,,,...,,,,,,,,,,
3,2022_01001009,2022_01001009_02,"14,1",88,"4,4","3,8",73,130,252,",62",...,131,131,"6,2",,,,,,,
4,2022_01001011,2022_01001011_01,,,,,,,,,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13894,2022_32056028,2022_32056028_02,,,,,,,,,...,,,,,,,,,,
13895,2022_32056028,2022_32056028_03,,,,,,,,,...,,,,,,,,,,
13896,2022_32056029,2022_32056029_01,"17,6",71,"5,5",4,44,96,171,",8",...,207,105,"5,3",,,,,,,
13897,2022_32056029,2022_32056029_03,"13,4",71,"2,5","2,4",31,46,90,",4",...,69,100,"5,1","6,3","10,1","7,53",",02",1,104,27
13898,2022_32056030,2022_32056030_02,,,,,,,,,...,,,,,,,,,,

In [330]:
len(varsSangre)

23

## Exploración del dataframe "contaminantes"

### Variables y NaNs

In [331]:
contaminantes.shape

(10521, 11)

In [332]:
contaminantes["SO_2"].isna().sum()

2453

In [333]:
contaminantes["CO"].isna().sum()

2453

In [334]:
contaminantes["NOx"].isna().sum()

0

In [335]:
contaminantes["COV"].isna().sum()

0

In [336]:
contaminantes["PM_010"].isna().sum()

2453

In [337]:
contaminantes["PM_2_5"].isna().sum()

2453

In [338]:
contaminantes["NH_3"].isna().sum()

2453

Las variables "NOx" y ""COV"" no cuentan con NaNs. Por lo tanto serán útiles para tener información para cada uno de los municipios, puesto que posiblemente eligiremos los municipios para hacer la unión entre dataframes.

## Descartar algunas variables de contaminantes

In [339]:
contaminantes=contaminantes.drop("Entidad", axis=1)
contaminantes

,Entidad_federativa,Municipio,Tipo_de_Fuente,SO_2,CO,NOx,COV,PM_010,PM_2_5,NH_3
0,Aguascalientes,Aguascalientes,Fuentes fijas,546.316,94.308,209.404,2219.396,246.873,182.143,2.929
1,Aguascalientes,Aguascalientes,Fuentes de área,15.877,2396.298,333.306,12438.827,1567.037,483.104,13661.221
2,Aguascalientes,Aguascalientes,Fuentes móviles carreteros,308.001,48527.124,10486.580,5148.961,721.389,659.929,83.887
3,Aguascalientes,Aguascalientes,Fuentes móviles que no circulan por carretera,36.981,548.796,1042.305,96.899,66.318,63.940,0.226
4,Aguascalientes,Aguascalientes,Fuentes naturales,NaN,NaN,440.268,1663.833,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
10516,Zacatecas,Trancoso,Fuentes naturales,NaN,NaN,597.682,2055.845,NaN,NaN,NaN
10517,Zacatecas,Santa María de la Paz,Fuentes de área,0.471,73.226,2.663,35.374,24.440,12.875,33.881
10518,Zacatecas,Santa María de la Paz,Fuentes móviles carreteros,0.423,82.461,16.143,7.114,0.666,0.607,0.094
10519,Zacatecas,Santa María de la Paz,Fuentes móviles que no circulan por carretera,0.097,0.897,2.786,0.215,0.170,0.165,0.001
10520,Zacatecas,Santa María de la Paz,Fuentes naturales,NaN,NaN,0.000,0.000,NaN,NaN,NaN

### Como se encuentra la información por municipio

In [340]:
contaminantes["Entidad_federativa"].unique()

array(['Aguascalientes', 'Baja California', 'Baja California Sur',
       'Campeche', 'Coahuila', 'Colima', 'Chiapas', 'Chihuahua',
       'Ciudad de México', 'Durango', 'Guanajuato', 'Guerrero', 'Hidalgo',
       'Jalisco', 'México', 'Michoacán', 'Morelos', 'Nayarit',
       'Nuevo León', 'Oaxaca', 'Puebla', 'Querétaro', 'Quintana Roo',
       'San Luis Potosí', 'Sinaloa', 'Sonora', 'Tabasco', 'Tamaulipas',
       'Tlaxcala', 'Veracruz', 'Yucatán', 'Zacatecas'], dtype=object)

In [341]:
socioDemo["desc_ent1"].unique()

array(['01 AGUASCALIENTES', '02 BAJA CALIFORNIA',
       '03 BAJA CALIFORNIA SUR', '04 CAMPECHE', '05 COAHUILA DE ZARAGOZA',
       '06 COLIMA', '07 CHIAPAS', '08 CHIHUAHUA', '09 CIUDAD DE MÉXICO',
       '10 DURANGO', '11 GUANAJUATO', '12 GUERRERO', '13 HIDALGO',
       '14 JALISCO', '15 MÉXICO', '16 MICHOACÁN DE OCAMPO', '17 MORELOS',
       '18 NAYARIT', '19 NUEVO LEÓN', '20 OAXACA', '21 PUEBLA',
       '22 QUERÉTARO', '23 QUINTANA ROO', '24 SAN LUIS POTOSÍ',
       '25 SINALOA', '26 SONORA', '27 TABASCO', '28 TAMAULIPAS',
       '29 TLAXCALA', '30 VERACRUZ DE IGNACIO DE LA LLAVE', '31 YUCATÁN',
       '32 ZACATECAS'], dtype=object)

In [342]:
dicEntidad = dict(zip(list(socioDemo["desc_ent1"].unique()), list(contaminantes["Entidad_federativa"].unique())))
dicEntidad

{'01 AGUASCALIENTES': 'Aguascalientes',
 '02 BAJA CALIFORNIA': 'Baja California',
 '03 BAJA CALIFORNIA SUR': 'Baja California Sur',
 '04 CAMPECHE': 'Campeche',
 '05 COAHUILA DE ZARAGOZA': 'Coahuila',
 '06 COLIMA': 'Colima',
 '07 CHIAPAS': 'Chiapas',
 '08 CHIHUAHUA': 'Chihuahua',
 '09 CIUDAD DE MÉXICO': 'Ciudad de México',
 '10 DURANGO': 'Durango',
 '11 GUANAJUATO': 'Guanajuato',
 '12 GUERRERO': 'Guerrero',
 '13 HIDALGO': 'Hidalgo',
 '14 JALISCO': 'Jalisco',
 '15 MÉXICO': 'México',
 '16 MICHOACÁN DE OCAMPO': 'Michoacán',
 '17 MORELOS': 'Morelos',
 '18 NAYARIT': 'Nayarit',
 '19 NUEVO LEÓN': 'Nuevo León',
 '20 OAXACA': 'Oaxaca',
 '21 PUEBLA': 'Puebla',
 '22 QUERÉTARO': 'Querétaro',
 '23 QUINTANA ROO': 'Quintana Roo',
 '24 SAN LUIS POTOSÍ': 'San Luis Potosí',
 '25 SINALOA': 'Sinaloa',
 '26 SONORA': 'Sonora',
 '27 TABASCO': 'Tabasco',
 '28 TAMAULIPAS': 'Tamaulipas',
 '29 TLAXCALA': 'Tlaxcala',
 '30 VERACRUZ DE IGNACIO DE LA LLAVE': 'Veracruz',
 '31 YUCATÁN': 'Yucatán',
 '32 ZACATECAS': 'Zacatecas'}

In [343]:
socioDemo["desc_ent1"] = socioDemo["desc_ent1"].replace(dicEntidad)
socioDemo["desc_ent1"]

0        Aguascalientes
1        Aguascalientes
2        Aguascalientes
3        Aguascalientes
4        Aguascalientes
              ...
36478         Zacatecas
36479         Zacatecas
36480         Zacatecas
36481         Zacatecas
36482         Zacatecas
Name: desc_ent1, Length: 36483, dtype: object

In [344]:
contaminantes["Municipio"].unique()

array(['Aguascalientes', 'Asientos', 'Calvillo', ..., 'Zacatecas',
       'Trancoso', 'Santa María de la Paz'], dtype=object)

In [345]:
socioDemo["desc_mun1"].unique()

array(['001 AGUASCALIENTES', '002 ASIENTOS', '005 JESÚS MARÍA',
       '006 PABELLÓN DE ARTEAGA', '009 TEPEZALÁ', '001 ENSENADA',
       '002 MEXICALI', '003 TECATE', '004 TIJUANA', '001 COMONDÚ',
       '003 LA PAZ', '008 LOS CABOS', '001 CALKINÍ', '002 CAMPECHE',
       '003 CARMEN', '004 CHAMPOTÓN', '008 TENABO', '002 ACUÑA',
       '017 MATAMOROS', '024 PARRAS', '026 PROGRESO', '027 RAMOS ARIZPE',
       '030 SALTILLO', '035 TORREÓN', '038 ZARAGOZA', '002 COLIMA',
       '003 COMALA', '007 MANZANILLO', '009 TECOMÁN',
       '010 VILLA DE ÁLVAREZ', '008 ANGEL ALBINO CORZO',
       '020 LA CONCORDIA', '022 CHALCHIHUITÁN', '039 HUITIUPÁN',
       '052 LAS MARGARITAS', '057 MOTOZINTLA', '058 NICOLÁS RUÍZ',
       '087 SUCHIATE', '089 TAPACHULA', '101 TUXTLA GUTIÉRREZ',
       '108 VILLAFLORES', '002 ALDAMA', '011 CAMARGO', '017 CUAUHTÉMOC',
       '019 CHIHUAHUA', '021 DELICIAS', '032 HIDALGO DEL PARRAL',
       '037 JUÁREZ', '050 NUEVO CASAS GRANDES', '064 EL TULE',
       '002 AZCAPOTZALCO', '003 COYOACÁN', '005 GUSTAVO A. MADERO',
       '006 IZTACALCO', '007 IZTAPALAPA', '008 LA MAGDALENA CONTRERAS',
       '010 ÁLVARO OBREGÓN', '012 TLALPAN', '013 XOCHIMILCO',
       '014 BENITO JUÁREZ', '015 CUAUHTÉMOC', '016 MIGUEL HIDALGO',
       '017 VENUSTIANO CARRANZA', '005 DURANGO', '007 GÓMEZ PALACIO',
       '008 GUADALUPE VICTORIA', '012 LERDO', '028 SAN JUAN DEL RÍO',
       '001 ABASOLO', '003 SAN MIGUEL DE ALLENDE', '005 APASEO EL GRANDE',
       '007 CELAYA', '009 COMONFORT',
       '014 DOLORES HIDALGO CUNA DE LA INDEPEN', '015 GUANAJUATO',
       '016 HUANÍMARO', '017 IRAPUATO', '018 JARAL DEL PROGRESO',
       '020 LEÓN', '023 PÉNJAMO', '027 SALAMANCA', '030 SAN FELIPE',
       '032 SAN JOSÉ ITURBIDE', '033 SAN LUIS DE LA PAZ',
       '037 SILAO DE LA VICTORIA', '041 URIANGATO',
       '042 VALLE DE SANTIAGO', '044 VILLAGRÁN', '001 ACAPULCO DE JUÁREZ',
       '007 ARCELIA', '029 CHILPANCINGO DE LOS BRAVO',
       '031 GENERAL CANUTO A. NERI', '032 GENERAL HELIODORO CASTILLO',
       '035 IGUALA DE LA INDEPENDENCIA', '051 QUECHULTENANGO',
       '061 TIXTLA DE GUERRERO', '064 TLALCHAPA', '002 ACAXOCHITLÁN',
       '027 HUEHUETLA', '041 MIXQUIAHUALA DE JUÁREZ',
       '046 SAN FELIPE ORIZATLÁN', '048 PACHUCA DE SOTO',
       '051 MINERAL DE LA REFORMA',
       '056 SANTIAGO TULANTEPEC DE LUGO GUERRE', '057 SINGUILUCAN',
       '076 TULA DE ALLENDE', '077 TULANCINGO DE BRAVO',
       '021 CASIMIRO CASTILLO', '039 GUADALAJARA', '067 PUERTO VALLARTA',
       '093 TEPATITLÁN DE MORELOS', '097 TLAJOMULCO DE ZÚÑIGA',
       '098 SAN PEDRO TLAQUEPAQUE', '012 ATIZAPÁN',
       '013 ATIZAPÁN DE ZARAGOZA', '025 CHALCO', '031 CHIMALHUACÁN',
       '033 ECATEPEC DE MORELOS', '037 HUIXQUILUCAN', '039 IXTAPALUCA',
       '054 METEPEC', '058 NEZAHUALCÓYOTL', '070 LA PAZ', '082 TEJUPILCO',
       '092 TEOTIHUACÁN', '104 TLALNEPANTLA DE BAZ', '106 TOLUCA',
       '109 TULTITLÁN', '115 XONACATLÁN', '118 ZINACANTEPEC',
       '122 VALLE DE CHALCO SOLIDARIDAD', '006 APATZINGÁN',
       '015 COALCOMÁN DE VÁZQUEZ PALLARES', '019 COTIJA', '043 JACONA',
       '052 LÁZARO CÁRDENAS', '053 MORELIA', '069 LA PIEDAD',
       '082 TACÁMBARO', '102 URUAPAN', '107 ZACAPU',
       '005 COATLÁN DEL RÍO', '006 CUAUTLA', '007 CUERNAVACA',
       '008 EMILIANO ZAPATA', '011 JIUTEPEC', '018 TEMIXCO',
       '019 TEPALCINGO', '024 TLALTIZAPÁN DE ZAPATA', '028 XOCHITEPEC',
       '029 YAUTEPEC', '036 HUEYAPAN', '006 IXTLÁN DEL RÍO',
       '015 SANTIAGO IXCUINTLA', '017 TEPIC', '006 APODACA',
       '007 ARAMBERRI', '009 CADEREYTA JIMÉNEZ', '012 CIÉNEGA DE FLORES',
       '018 GARCÍA', '019 SAN PEDRO GARZA GARCÍA', '021 GENERAL ESCOBEDO',
       '026 GUADALUPE', '027 LOS HERRERAS', '031 JUÁREZ',
       '032 LAMPAZOS DE NARANJO', '039 MONTERREY', '041 PESQUERÍA',
       '044 SABINAS HIDALGO', '046 SAN NICOLÁS DE LOS GARZA',
       '048 SANTA CATARINA', '049 SANTIAGO',
       '002 ACATLÁN DE PÉREZ FIGUEROA', '016 COICOYÁN DE LAS FLORES',
       '039 HEROICA CIUDAD DE HUAJUAPAN DE LEÓ', '067 OAXACA DE JUÁREZ',
       '076 LA REFORMA', '258 SAN MIGUEL ACHIUTLA',
       '272 SAN MIGUEL PANIXTLAHUACA',
       '339 SAN PEDRO Y SAN PABLO TEPOSCOLULA',
       '390 SANTA LUCÍA DEL CAMINO', '499 SANTIAGO YOLOMÉCATL',
       '515 SANTO DOMINGO TEHUANTEPEC', '010 AJALPAN', '066 GUADALUPE',
       '085 IZÚCAR DE MATAMOROS', '114 PUEBLA', '119 SAN ANDRÉS CHOLULA',
       '147 SANTA INÉS AHUATEMPAN', '148 SANTA ISABEL CHOLULA',
       '212 ZAUTLA', '001 AMEALCO DE BONFIL', '004 CADEREYTA DE MONTES',
       '011 EL MARQUÉS', '012 PEDRO ESCOBEDO', '014 QUERÉTARO',
       '016 SAN JUAN DEL RÍO', '002 FELIPE CARRILLO PUERTO',
       '004 OTHÓN P. BLANCO', '005 BENITO JUÁREZ',
       '006 JOSÉ MARÍA MORELOS', '008 SOLIDARIDAD', '013 CIUDAD VALLES',
       '021 MEXQUITIC DE CARMONA', '028 SAN LUIS POTOSÍ',
       '035 SOLEDAD DE GRACIANO SÁNCHEZ', '037 TAMAZUNCHALE',
       '049 VILLA DE RAMOS', '052 VILLA JUÁREZ', '001 AHOME',
       '002 ANGOSTURA', '006 CULIACÁN', '011 GUASAVE', '012 MAZATLÁN',
       '015 SALVADOR ALVARADO', '018 NAVOLATO', '002 AGUA PRIETA',
       '019 CANANEA', '029 GUAYMAS', '030 HERMOSILLO', '042 NAVOJOA',
       '043 NOGALES', '047 PITIQUITO', '055 SAN LUIS RÍO COLORADO',
       '002 CÁRDENAS', '004 CENTRO', '005 COMALCALCO', '006 CUNDUACÁN',
       '007 EMILIANO ZAPATA', '008 HUIMANGUILLO', '010 JALPA DE MÉNDEZ',
       '013 NACAJUCA', '017 TENOSIQUE', '003 ALTAMIRA',
       '009 CIUDAD MADERO', '017 JAUMAVE', '018 JIMÉNEZ',
       '027 NUEVO LAREDO', '032 REYNOSA', '033 RÍO BRAVO', '038 TAMPICO',
       '041 VICTORIA', '007 EL CARMEN TEQUEXQUITLA', '013 HUAMANTLA',
       '018 CONTLA DE JUAN CUAMATZI', '031 TETLA DE LA SOLIDARIDAD',
       '043 YAUHQUEMEHCAN', '058 SANTA CATARINA AYOMETLA',
       '033 CAZONES DE HERRERA', '039 COATZACOALCOS', '087 XALAPA',
       '123 PÁNUCO', '124 PAPANTLA', '131 POZA RICA DE HIDALGO',
       '159 TEHUIPANGO', '167 TEPETZINTLA', '201 ZONGOLICA',
       '206 NANCHITAL DE LÁZARO CÁRDENAS DEL R', '038 HUNUCMÁ',
       '041 KANASÍN', '050 MÉRIDA', '052 MOTUL', '056 OXKUTZCAB',
       '079 TEKAX', '098 TZUCACAB', '101 UMÁN', '010 FRESNILLO',
       '017 GUADALUPE', '023 JUCHIPILA', '024 LORETO',
       '035 NORIA DE ÁNGELES', '036 OJOCALIENTE', '039 RÍO GRANDE',
       '040 SAIN ALTO', '052 VILLA GARCÍA', '053 VILLA GONZÁLEZ ORTEGA',
       '056 ZACATECAS'], dtype=object)

In [346]:
contaminantes[contaminantes["Municipio"]=="Guadalajara"]

,Entidad_federativa,Municipio,Tipo_de_Fuente,SO_2,CO,NOx,COV,PM_010,PM_2_5,NH_3
2519,Jalisco,Guadalajara,Fuentes fijas,426.095,466.284,827.878,1334.398,199.669,128.923,15.100
2520,Jalisco,Guadalajara,Fuentes de área,2.088,2289.822,215.986,30839.410,863.510,208.866,7.301
2521,Jalisco,Guadalajara,Fuentes móviles carreteros,57.912,83375.297,20097.095,10558.568,532.973,483.508,196.431
2522,Jalisco,Guadalajara,Fuentes móviles que no circulan por carretera,105.973,1470.505,1143.660,152.984,16.137,15.958,0.010
2523,Jalisco,Guadalajara,Fuentes naturales,NaN,NaN,6.455,369.236,NaN,NaN,NaN

In [347]:
contaminantes["Tipo_de_Fuente"].unique()

array(['Fuentes fijas', 'Fuentes de área', 'Fuentes móviles carreteros',
       'Fuentes móviles que no circulan por carretera',
       'Fuentes naturales'], dtype=object)

Se eligirá un solo tipo de fuente que representará a cada municipio, más adelante se explorará la decisión de esta. El que tengamos dos variables con información completa nos asegura que para cualquier fuente elegida habrá datos en por lo menos estas dos variables.

In [348]:
values_to_omit = ["Fuentes fijas", "Fuentes naturales"]
contaminantes = contaminantes[~contaminantes["Tipo_de_Fuente"].isin(values_to_omit)]
contaminantes

,Entidad_federativa,Municipio,Tipo_de_Fuente,SO_2,CO,NOx,COV,PM_010,PM_2_5,NH_3
1,Aguascalientes,Aguascalientes,Fuentes de área,15.877,2396.298,333.306,12438.827,1567.037,483.104,13661.221
2,Aguascalientes,Aguascalientes,Fuentes móviles carreteros,308.001,48527.124,10486.580,5148.961,721.389,659.929,83.887
3,Aguascalientes,Aguascalientes,Fuentes móviles que no circulan por carretera,36.981,548.796,1042.305,96.899,66.318,63.940,0.226
6,Aguascalientes,Asientos,Fuentes de área,1.955,416.591,25.613,432.557,341.206,106.956,5180.011
7,Aguascalientes,Asientos,Fuentes móviles carreteros,6.277,1134.040,200.091,114.687,9.393,8.556,1.973
...,...,...,...,...,...,...,...,...,...,...
10514,Zacatecas,Trancoso,Fuentes móviles carreteros,5.721,778.487,214.812,70.275,19.334,17.736,1.063
10515,Zacatecas,Trancoso,Fuentes móviles que no circulan por carretera,0.360,3.310,10.283,0.792,0.629,0.610,0.003
10517,Zacatecas,Santa María de la Paz,Fuentes de área,0.471,73.226,2.663,35.374,24.440,12.875,33.881
10518,Zacatecas,Santa María de la Paz,Fuentes móviles carreteros,0.423,82.461,16.143,7.114,0.666,0.607,0.094
10519,Zacatecas,Santa María de la Paz,Fuentes móviles que no circulan por carretera,0.097,0.897,2.786,0.215,0.170,0.165,0.001

In [349]:
print(contaminantes[contaminantes["Tipo_de_Fuente"]=="Fuentes móviles carreteros"]["NOx"].var())
print(contaminantes[contaminantes["Tipo_de_Fuente"]=="Fuentes móviles carreteros"]["COV"].var())

6028400.899356865
631033.3855410026

In [350]:
itemVars=[]
for item in contaminantes["Tipo_de_Fuente"].unique():
    itemVars.append(contaminantes[contaminantes["Tipo_de_Fuente"]==item]["NOx"].var())
print(contaminantes["Tipo_de_Fuente"].unique()[itemVars.index(max(itemVars))])

Fuentes móviles carreteros

In [351]:
itemVars=[]
for item in contaminantes["Tipo_de_Fuente"].unique():
    itemVars.append(contaminantes[contaminantes["Tipo_de_Fuente"]==item]["COV"].var())
print(contaminantes["Tipo_de_Fuente"].unique()[itemVars.index(max(itemVars))])

Fuentes de área

In [352]:
polluters=["SO_2","CO","NOx","COV","PM_010","PM_2_5","NH_3"]
maxVars=[]
for pulluter in polluters:
    itemVars=[]
    for item in contaminantes["Tipo_de_Fuente"].unique():
        itemVars.append(contaminantes[contaminantes["Tipo_de_Fuente"]==item][pulluter].var())
    maxVars.append(contaminantes["Tipo_de_Fuente"].unique()[itemVars.index(max(itemVars))])
maxVars

['Fuentes móviles carreteros',
 'Fuentes móviles carreteros',
 'Fuentes móviles carreteros',
 'Fuentes de área',
 'Fuentes de área',
 'Fuentes de área',
 'Fuentes de área']

Debido a que 'Fuentes de área' es el tipo de fuente que mayor varianza tiene en más variables de contaminantes, la elegiremos como el tipo de fuente que usaremos.

In [353]:
contaminantes=contaminantes[contaminantes["Tipo_de_Fuente"]=="Fuentes de área"]
contaminantes=contaminantes.drop("Tipo_de_Fuente", axis=1)
contaminantes

,Entidad_federativa,Municipio,SO_2,CO,NOx,COV,PM_010,PM_2_5,NH_3
1,Aguascalientes,Aguascalientes,15.877,2396.298,333.306,12438.827,1567.037,483.104,13661.221
6,Aguascalientes,Asientos,1.955,416.591,25.613,432.557,341.206,106.956,5180.011
10,Aguascalientes,Calvillo,2.401,397.285,26.655,688.471,250.694,81.514,377.804
14,Aguascalientes,Cosío,0.994,190.455,10.893,158.191,87.780,37.107,2242.952
19,Aguascalientes,Jesús María,3.888,656.177,65.330,1985.754,278.602,126.777,1562.435
...,...,...,...,...,...,...,...,...,...
10500,Zacatecas,Villa Hidalgo,0.572,144.230,6.892,160.378,114.953,36.527,274.635
10504,Zacatecas,Villanueva,4.590,935.532,41.771,455.260,232.606,189.312,295.495
10509,Zacatecas,Zacatecas,0.978,147.735,33.640,1904.332,86.965,35.487,271.373
10513,Zacatecas,Trancoso,0.408,110.971,7.528,159.724,88.195,44.680,90.333
10517,Zacatecas,Santa María de la Paz,0.471,73.226,2.663,35.374,24.440,12.875,33.881

In [354]:
name_counts = contaminantes['Municipio'].value_counts()
repeated_names = name_counts[name_counts > 1]
repeated_names

Municipio
Benito Juárez      7
Ocampo             6
Emiliano Zapata    6
Morelos            5
Villa Hidalgo      5
                  ..
San Nicolás        2
San Felipe         2
Pantepec           2
Tonalá             2
San Lucas          2
Name: count, Length: 86, dtype: int64

In [355]:
contaminantes[contaminantes["Municipio"]=="Benito Juárez"]

,Entidad_federativa,Municipio,SO_2,CO,NOx,COV,PM_010,PM_2_5,NH_3
1235,Ciudad de México,Benito Juárez,13.129,165.182,124.373,6358.017,113.617,70.867,642.896
1687,Guerrero,Benito Juárez,1.608,398.258,14.569,225.314,93.578,60.414,137.466
7729,Quintana Roo,Benito Juárez,10.592,2452.456,233.513,9573.694,465.717,329.887,707.435
8385,Sonora,Benito Juárez,3.069,503.180,23.715,295.352,437.645,133.867,398.564
8857,Tlaxcala,Benito Juárez,0.199,57.360,3.081,66.657,31.626,12.446,60.013
9032,Veracruz,Benito Juárez,3.557,952.174,26.825,452.655,182.689,127.897,206.223
10281,Zacatecas,Benito Juárez,0.878,144.890,5.003,58.626,44.268,30.416,40.483

## Estandarizar nombres de municipios y union entre dataframes

In [356]:
contaminantes["Entidad_federativa"]=contaminantes["Entidad_federativa"].str.upper()
contaminantes["Municipio"]=contaminantes["Municipio"].str.upper()
contaminantes.head()

,Entidad_federativa,Municipio,SO_2,CO,NOx,COV,PM_010,PM_2_5,NH_3
1,AGUASCALIENTES,AGUASCALIENTES,15.877,2396.298,333.306,12438.827,1567.037,483.104,13661.221
6,AGUASCALIENTES,ASIENTOS,1.955,416.591,25.613,432.557,341.206,106.956,5180.011
10,AGUASCALIENTES,CALVILLO,2.401,397.285,26.655,688.471,250.694,81.514,377.804
14,AGUASCALIENTES,COSÍO,0.994,190.455,10.893,158.191,87.780,37.107,2242.952
19,AGUASCALIENTES,JESÚS MARÍA,3.888,656.177,65.330,1985.754,278.602,126.777,1562.435

In [357]:
contaminantes["Ent_Mun"]=contaminantes['Entidad_federativa'] + ' ' + contaminantes['Municipio']
contaminantes=contaminantes.drop(["Entidad_federativa","Municipio"], axis=1)
contaminantes.head()

,SO_2,CO,NOx,COV,PM_010,PM_2_5,NH_3,Ent_Mun
1,15.877,2396.298,333.306,12438.827,1567.037,483.104,13661.221,AGUASCALIENTES AGUASCALIENTES
6,1.955,416.591,25.613,432.557,341.206,106.956,5180.011,AGUASCALIENTES ASIENTOS
10,2.401,397.285,26.655,688.471,250.694,81.514,377.804,AGUASCALIENTES CALVILLO
14,0.994,190.455,10.893,158.191,87.780,37.107,2242.952,AGUASCALIENTES COSÍO
19,3.888,656.177,65.330,1985.754,278.602,126.777,1562.435,AGUASCALIENTES JESÚS MARÍA

In [358]:
socioDemo["desc_ent1"]=socioDemo["desc_ent1"].str.upper()
socioDemo["desc_mun1"]=socioDemo["desc_mun1"].str[4:]
socioDemo.head()

,FOLIO_I,FOLIO_INT,id_int,maquina1,entidad1,desc_ent1,municipio1,desc_mun1,h0302,h0303,...,h16054e,h1607,h1607e,completa1,region,entidad,ponde_f,estrato,est_sel,upm
0,2022_01001001,2022_01001001_01,1,MQ426,1,AGUASCALIENTES,1,AGUASCALIENTES,2,51,...,,,,1,4,1,"706,78491885843",3,13,0100100011320
1,2022_01001001,2022_01001001_02,2,MQ426,1,AGUASCALIENTES,1,AGUASCALIENTES,2,14,...,,,,1,4,1,"937,020931828615",3,13,0100100011320
2,2022_01001002,2022_01001002_01,1,MQ417,1,AGUASCALIENTES,1,AGUASCALIENTES,1,60,...,,,,1,4,1,"760,861696609056",3,13,0100100011320
3,2022_01001002,2022_01001002_02,2,MQ417,1,AGUASCALIENTES,1,AGUASCALIENTES,2,60,...,,,,1,4,1,"706,78491885843",3,13,0100100011320
4,2022_01001003,2022_01001003_01,1,MQ425,1,AGUASCALIENTES,1,AGUASCALIENTES,2,64,...,,15,,1,4,1,"706,78491885843",3,13,0100100011320

In [359]:
socioDemoMun=pd.DataFrame(socioDemo["FOLIO_INT"])
socioDemoMun["Ent_Mun"]=socioDemo['desc_ent1'] + ' ' + socioDemo['desc_mun1']
socioDemoMun.head()

          FOLIO_INT                        Ent_Mun
0  2022_01001001_01  AGUASCALIENTES AGUASCALIENTES
1  2022_01001001_02  AGUASCALIENTES AGUASCALIENTES
2  2022_01001002_01  AGUASCALIENTES AGUASCALIENTES
3  2022_01001002_02  AGUASCALIENTES AGUASCALIENTES
4  2022_01001003_01  AGUASCALIENTES AGUASCALIENTES

In [360]:
dataMuestras=pd.merge(muestraSangre, socioDemoMun, on='FOLIO_INT', how='inner')
dataMuestras=dataMuestras.drop(["FOLIO_I","FOLIO_INT"], axis=1)
dataMuestras.head()

,hb02,hb07b,valor_AC_URICO,valor_ALBU,valor_COL_HDL,valor_COL_LDL,valor_COLEST,valor_CREAT,valor_GLU_SUERO,valor_INSULINA,...,valor_EAG,valor_HB1AC,valor_FERRITINA,valor_FOL,valor_HCST,valor_PROTCREAC,valor_STFR_FEB23,valor_VIT_B12,valor_VIT_D,Ent_Mun
0,,,,,,,,,,,...,,,,,,,,,,AGUASCALIENTES AGUASCALIENTES
1,,,,,,,,,,,...,,,,,,,,,,AGUASCALIENTES AGUASCALIENTES
2,,,,,,,,,,,...,,,,,,,,,,AGUASCALIENTES AGUASCALIENTES
3,"14,1",88,"4,4","3,8",73,130,252,",62",111,"9,4",...,131,"6,2",,,,,,,,AGUASCALIENTES AGUASCALIENTES
4,,,,,,,,,,,...,,,,,,,,,,AGUASCALIENTES AGUASCALIENTES

In [361]:
muestraSangre.shape

(13899, 23)

In [362]:
dataMuestras.shape

(13899, 22)

In [363]:
contaminantes.shape

(2459, 8)

In [364]:
set(dataMuestras["Ent_Mun"]) - set(contaminantes["Ent_Mun"])

{'CHIAPAS ANGEL ALBINO CORZO',
 'GUANAJUATO DOLORES HIDALGO CUNA DE LA INDEPEN',
 'GUANAJUATO SILAO DE LA VICTORIA',
 'HIDALGO SANTIAGO TULANTEPEC DE LUGO GUERRE',
 'MORELOS HUEYAPAN',
 'OAXACA HEROICA CIUDAD DE HUAJUAPAN DE LEÓ',
 'VERACRUZ NANCHITAL DE LÁZARO CÁRDENAS DEL R'}

In [365]:
data=pd.merge(dataMuestras, contaminantes, on='Ent_Mun', how='inner')
data=data.drop("Ent_Mun", axis=1)
data.head(10)

,hb02,hb07b,valor_AC_URICO,valor_ALBU,valor_COL_HDL,valor_COL_LDL,valor_COLEST,valor_CREAT,valor_GLU_SUERO,valor_INSULINA,...,valor_STFR_FEB23,valor_VIT_B12,valor_VIT_D,SO_2,CO,NOx,COV,PM_010,PM_2_5,NH_3
0,,,,,,,,,,,...,,,,15.877,2396.298,333.306,12438.827,1567.037,483.104,13661.221
1,,,,,,,,,,,...,,,,15.877,2396.298,333.306,12438.827,1567.037,483.104,13661.221
2,,,,,,,,,,,...,,,,15.877,2396.298,333.306,12438.827,1567.037,483.104,13661.221
3,"14,1",88,"4,4","3,8",73,130,252,",62",111,"9,4",...,,,,15.877,2396.298,333.306,12438.827,1567.037,483.104,13661.221
4,,,,,,,,,,,...,,,,15.877,2396.298,333.306,12438.827,1567.037,483.104,13661.221
5,,,,,,,,,,,...,,,,15.877,2396.298,333.306,12438.827,1567.037,483.104,13661.221
6,,,,,,,,,,,...,,,,15.877,2396.298,333.306,12438.827,1567.037,483.104,13661.221
7,,,,,,,,,,,...,,,,15.877,2396.298,333.306,12438.827,1567.037,483.104,13661.221
8,"15,7",61,"6,5","4,1",49,107,203,",91",106,"7,4",...,,,,15.877,2396.298,333.306,12438.827,1567.037,483.104,13661.221
9,,,,,,,,,,,...,,,,15.877,2396.298,333.306,12438.827,1567.037,483.104,13661.221

In [366]:
# DATA tras hacer join correctamente
data.shape

(13556, 28)

In [367]:
data = data.replace(' ', np.nan)

In [368]:
top12_cols = data.isna().sum().sort_values(ascending=False).head(12).index.tolist()

print(top12_cols)

['valor_EAG', 'valor_HB1AC', 'valor_PCR', 'valor_AC_URICO', 'valor_ALBU', 'valor_COL_HDL', 'valor_COL_LDL', 'valor_COLEST', 'valor_CREAT', 'valor_GLU_SUERO', 'valor_INSULINA', 'valor_TRIG']

In [369]:
data.isna().sum().sort_values(ascending=False)

valor_EAG           11550
valor_HB1AC         11550
valor_PCR           11521
valor_AC_URICO      11521
valor_ALBU          11521
valor_COL_HDL       11521
valor_COL_LDL       11521
valor_COLEST        11521
valor_CREAT         11521
valor_GLU_SUERO     11521
valor_INSULINA      11521
valor_TRIG          11521
valor_STFR_FEB23    11517
valor_FOL           11331
valor_VIT_B12       11331
valor_FERRITINA     11329
valor_PROTCREAC     11325
valor_HCST          11315
valor_VIT_D         11315
hb07b               11154
hb02                 9669
SO_2                    0
CO                      0
NOx                     0
COV                     0
PM_010                  0
PM_2_5                  0
NH_3                    0
dtype: int64

In [370]:
# borrar observaciones con todas las columnas igual a NaN

ori = data.shape[0]
df_clean = data.drop(columns=top12_cols).dropna(axis=0, how='any')

print(f"Observaciones borradas = {ori - df_clean.shape[0]}")
print(f"Observaciones completas = {df_clean.shape[0]}")

Observaciones borradas = 12248
Observaciones completas = 1308

In [371]:
print(len(varsSangre))
print(set(data.columns) - set(varsSangre))

23
{'PM_2_5', 'NOx', 'CO', 'PM_010', 'COV', 'NH_3', 'SO_2'}

In [372]:
print(varsSangre)
varsSangre = varsSangre[2:]
print(len(varsSangre))
print(len(data.columns) - 7)
print(set(varsSangre) == set(data.columns))

['FOLIO_I', 'FOLIO_INT', 'hb02', 'hb07b', 'valor_AC_URICO', 'valor_ALBU', 'valor_COL_HDL', 'valor_COL_LDL', 'valor_COLEST', 'valor_CREAT', 'valor_GLU_SUERO', 'valor_INSULINA', 'valor_PCR', 'valor_TRIG', 'valor_EAG', 'valor_HB1AC', 'valor_FERRITINA', 'valor_FOL', 'valor_HCST', 'valor_PROTCREAC', 'valor_STFR_FEB23', 'valor_VIT_B12', 'valor_VIT_D']
21
21
False

In [373]:
print(len(varsSangre))
print(len(data.columns))

21
28

In [374]:
list_aux = ["SO_2", "CO", "NOx", "COV", "PM_010", "PM_2_5", "NH_3"]
vars_sangre = [col for col in data.columns if col not in list_aux]

print(vars_sangre)

['hb02', 'hb07b', 'valor_AC_URICO', 'valor_ALBU', 'valor_COL_HDL', 'valor_COL_LDL', 'valor_COLEST', 'valor_CREAT', 'valor_GLU_SUERO', 'valor_INSULINA', 'valor_PCR', 'valor_TRIG', 'valor_EAG', 'valor_HB1AC', 'valor_FERRITINA', 'valor_FOL', 'valor_HCST', 'valor_PROTCREAC', 'valor_STFR_FEB23', 'valor_VIT_B12', 'valor_VIT_D']

In [375]:
import itertools

# Lista de ejemplo
lista = vars_sangre

# Número de elementos por combinación
n = 1

# Generar todas las combinaciones de n elementos
combinaciones = list(itertools.combinations(lista, n))

# Mostrar el resultado
print(combinaciones)
print(data.drop(columns=list(combinaciones[0])).columns)

[('hb02',), ('hb07b',), ('valor_AC_URICO',), ('valor_ALBU',), ('valor_COL_HDL',), ('valor_COL_LDL',), ('valor_COLEST',), ('valor_CREAT',), ('valor_GLU_SUERO',), ('valor_INSULINA',), ('valor_PCR',), ('valor_TRIG',), ('valor_EAG',), ('valor_HB1AC',), ('valor_FERRITINA',), ('valor_FOL',), ('valor_HCST',), ('valor_PROTCREAC',), ('valor_STFR_FEB23',), ('valor_VIT_B12',), ('valor_VIT_D',)]
Index(['hb07b', 'valor_AC_URICO', 'valor_ALBU', 'valor_COL_HDL',
       'valor_COL_LDL', 'valor_COLEST', 'valor_CREAT', 'valor_GLU_SUERO',
       'valor_INSULINA', 'valor_PCR', 'valor_TRIG', 'valor_EAG', 'valor_HB1AC',
       'valor_FERRITINA', 'valor_FOL', 'valor_HCST', 'valor_PROTCREAC',
       'valor_STFR_FEB23', 'valor_VIT_B12', 'valor_VIT_D', 'SO_2', 'CO', 'NOx',
       'COV', 'PM_010', 'PM_2_5', 'NH_3'],
      dtype='object')

In [380]:
import itertools
import pandas as pd

best = {}
resultados = []  # aquí guardaremos solo los mejores

for i in range(len(vars_sangre) - 19):
    
    print(i)
    
    best[f"combinaciones_{i}"] = []
    best[f"observaciones_{i}"] = 0

    combs = list(itertools.combinations(vars_sangre, i + 1))
    for j in combs:
        df_aux = data.drop(columns=list(j)).dropna(axis=0, how='any')
        obs = df_aux.shape[0]

        # Guardar solo si es mejor
        if obs > best[f"observaciones_{i}"]:
            best[f"combinaciones_{i}"] = list(j)
            best[f"observaciones_{i}"] = obs   

# Imprimir resultados finales
for i in range(len(vars_sangre) - 19):
    print(f"Para {i + 1} columnas a eliminar, máximo de obs: {best[f'observaciones_{i}']}")
    print(best[f"combinaciones_{i}"])
    print()

0
1
Para 1 columnas a eliminar, máximo de obs: 584
['hb07b']

Para 2 columnas a eliminar, máximo de obs: 622
['hb07b', 'valor_STFR_FEB23']

In [ ]:
for i in range(len(data.columns)):
    df_aux = data.dropna(axis=0, thresh=i+1)
    print(f"Datos con {i+1} validos: {len(df_aux)}")

Datos con 1 validos: 13556
Datos con 2 validos: 13556
Datos con 3 validos: 13556
Datos con 4 validos: 13556
Datos con 5 validos: 13556
Datos con 6 validos: 13556
Datos con 7 validos: 13556
Datos con 8 validos: 3906
Datos con 9 validos: 3789
Datos con 10 validos: 3652
Datos con 11 validos: 3648
Datos con 12 validos: 3639
Datos con 13 validos: 3632
Datos con 14 validos: 3628
Datos con 15 validos: 3569
Datos con 16 validos: 2969
Datos con 17 validos: 2037
Datos con 18 validos: 2031
Datos con 19 validos: 2021
Datos con 20 validos: 2002
Datos con 21 validos: 1433
Datos con 22 validos: 630
Datos con 23 validos: 630
Datos con 24 validos: 630
Datos con 25 validos: 628
Datos con 26 validos: 625
Datos con 27 validos: 607
Datos con 28 validos: 374